---
import BtnSubsection from "./components/BtnSubsection.jsx";
import "./components/BtnSubsection.scss";
const subsectionNosotros = [{ txt: "Nuestros profesionales", href: "/about" }, { txt: "¿Cómo iniciamos?", href: "/about" }];
const subsectionTratamiento = [{ txt: "¿Cómo funciona?", href: "/about" },{ txt: "Testimonios", href: "/about" }];
---

<header>
    <section>
        <p>Numero de contacto Pablo Alonso: 2346659988</p>
        <p>Numero de contacto Ivo Cutzarida: 1122459988</p>
      </section>
  <nav>
    <BtnSubsection
      client:visible
      txt="Nosotros"
      ,
      subsections={subsectionNosotros}
    />
    <BtnSubsection
      client:visible
      txt="Tratamiento"
      subsections={subsectionTratamiento}
    />
    <a href="">Arancelado</a>
    <a href="">Preguntas Frecuentes</a>
  </nav>
</header>

<style lang="scss">
  header {
    padding: 10px;
    width: 100%;
    background-color: #2b561a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    nav {
      display: flex;
      gap: 50px;
      padding: 10px;

      a {
        font-size: 20px;

        padding: 3px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
</style>
