---

---

<header>
  <h1>Ambu Virtual</h1>
  <h2>Rehabilitación de Adicciones</h2>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <div class="menu" id="menu">
      <a href="#home">Home</a>
      <a href="#about-us">Sobre Nosotros</a>
      <a href="#how-it-works">Cómo Funciona</a>
      <a href="#testimonials">Testimonios</a>
      <a href="#contact">Contacto</a>
    </div>
  </nav>
</header>

<script>
  document.getElementById("hamburger").addEventListener("click", function () {
    var menu = document.getElementById("menu");
    if (menu.classList.contains("open")) {
      menu.classList.remove("open");
    } else {
      menu.classList.add("open");
    }
  });
</script>

<!-- <style lang="scss">
  header {
    background-color: #2b561a;
    color: white;
    padding: 15px;
    text-align: center;

    .hamburger {
      display: none;
    }

    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 20px;
    }
    nav {
      display: flex;
      justify-content: center;
      position: relative;
      .menu {
        padding: 20px;
        display: flex;
        max-height: 0;
        transition: 0.2s ease-in-out;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 8px;
        a {
          position: relative;
          color: white;
          padding: 15px 20px;
          text-decoration: none;
          text-align: center;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: #45a049;
          }
        }

        a::before {
          content: " ";
          border-bottom: 1px #fff solid;
          position: absolute;
          width: 0;
          top: 38px;
          left: 0;
          transition: 0.2s ease-in-out;
        }

        a:hover::before {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 780px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        width: 100%;
        background-color: #357b19;
        border-radius: 8px;

        a::before {
          display: none;
        }

        a {
          width: 90%;
          text-align: center;
          text-decoration: none;
          color: #fff;
          padding: 10px;
          text-align: left;

          &:hover {
            scale: 1.1;
            background-color: #2b561a;
            border-radius: 8px;
          }
        }
      }
    header {
      position: relative;
      h2 {
        padding: 10px;
      }
      .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 14px 20px;
        box-sizing: border-box;
        div {
          width: 25px;
          height: 2px;
          background-color: white;
          margin: 4px 0;
        }
      }


      .menu.open {
        max-height: 300px;
      }
    }
  }
</style> -->

<style>
  header {
    background-color: #2b561a;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: center;
    position: relative;
  }
  nav .menu__desk a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-in-out;
    position: relative;
  }
  nav .menu__desk a:hover {
    background-color: #45a049;
  }
  nav .menu__desk a::before {
    content: " ";
    border-bottom: 1px #fff solid;
    position: absolute;
    width: 0;
    top: 43px;
    left: 0;
    transition: 0.2s ease-in-out;
  }
  nav .menu__desk a:hover::before {
    width: 100%;
  }
  nav .menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #357b19;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  nav .menu a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  nav .menu.open {
    display: flex;
    max-height: 300px;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 14px 20px;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  @media (max-width: 768px) {
    nav .menu__desk {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
</style>
