---
import logo from "../../assets/img/logo.png";
import { enlaces } from "../../utils.js";
---

<header>
  <a href="" class="logo">
    <img src={logo.src} alt="Logo del Ambu Virtual" />
    <div>
      <h1>Ambu Virtual</h1>
      <p>Rehabilitación de Adicciones</p>
    </div>
  </a>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <div class="menu" id="menu">
      {enlaces.map((a) => (
        <a href={a.href}>{a.texto}</a>
      ))}
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b561a;
    color: white;
    padding: 20px;
    padding-top: 25px;
    transition: all 0.3s ease;

    .logo {
      width: 60%;
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      img {
        height: 100px;
        @media (max-width: 1100px) {
          height: 70px;
        }
      }
      div {
        h1 {
          font-weight: bold;
          font-size: 40px;
          @media (max-width: 1100px) {
            font-size: 30px;
          }
        }

        h2 {
          font-weight: 400;
          font-size: 20px;
          @media (max-width: 1100px) {
            font-size: 16px;
          }
        }
      }
    }

    .hamburger {
      display: none;
    }

    nav {
      position: relative;
      width: 100%;
      .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        flex-wrap: nowrap;
        padding: 20px;
        gap: 10px;
        @media (max-width: 1100px) {
          gap: 5px;
        }

        a {
          font-size: 20px;
          position: relative;
          color: white;
          margin: 5px;
          text-decoration: none;
          transition: 0.2s ease-in-out;
          border-radius: 4px;
          text-align: start;
          @media (max-width: 1100px) {
            font-size: 17px;
          }
        }

        a::before {
          content: " ";
          border-bottom: 1px #fff solid;
          position: absolute;
          width: 0;
          top: 22px;
          left: 0;
          transition: 0.2s ease-in-out;
        }

        a:hover::before {
          width: 100%;
        }

        #contacto {
          display: grid;
          place-items: center;
          text-align: center;
          color: #fff;
          padding: 10px;
          border-radius: 8px;
          border: 1px solid #fff;
          &:hover {
            background-color: #437031;
          }
        }

        #contacto::before {
          content: " ";
          border-bottom: 1px #fff solid;
          position: absolute;
          width: 0;
          top: 38px;
          left: 0;
          transition: 0.2s ease-in-out;
        }

        #contacto:hover::before {
          width: 0;
        }
      }
    }
  }

  @media (max-width: 907px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;

      .logo {
        width: 100%;
        justify-content: center;
        padding-right: 40px;
        gap: 8px;
      }

      .hamburger {
        position: absolute;
        margin-top: 25px;
        margin-right: 10px;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 14px 20px;
        box-sizing: border-box;
        div {
          width: 30px;
          height: 3px;
          background-color: #fff;
          border-radius: 30px;
          margin: 4px 0;
        }
      }
      nav {
        max-height: 0;
        transition: all 0.3s ease-in-out;
      }
      .menu {
        flex-direction: column;
        width: 100%;
        background-color: #437031;
        border-radius: 8px;
        opacity: 0;
        max-height: 0;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 10px;

        a::before {
          display: none;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          text-align: center;
          text-decoration: none;
          color: #fff;
          padding: 10px;
          text-align: left;

          &:hover {
            scale: 1.1;
            background-color: #2b561a;
            border-radius: 8px;
          }
        }
      }

      .active {
        opacity: 1;
        max-height: 300px;
      }
    }
  }

  @media (max-width: 420px) {
    header {
      h1 {
        font-size: 26px;
      }
      h2 {
        font-size: 16px;
        padding: 8px;
      }
    }
  }
</style>

<script>
  let lastScrollTop = 0;
  const header = document.querySelector("header");
  const nav = document.querySelector("nav");
  const menu = document.getElementById("menu");
  const hamburger = document.getElementById("hamburger");
  const a = nav.querySelectorAll("div *");

  function toggleMenu() {
    menu.classList.toggle("active");
    nav.classList.toggle("active");
  }

  function closeMenu() {
    header.style.top = "-70px";
    header.style.opacity = "0";
    menu.classList.remove("active");
    nav.classList.remove("active");
  }

  function handleResize() {
    if (window.innerWidth > 907) {
      menu.classList.add("active"); // Asegura que el menú esté visible en pantallas grandes
      nav.classList.add("active"); // Asegura que el menú esté visible en pantallas grandes
      hamburger.style.display = "none"; // Oculta el icono de hamburguesa
      header.style.top = "0"; // Muestra la barra de navegación
      header.style.opacity = "1"; // Muestra la barra de navegación
    } else {
      menu.classList.remove("active"); // Oculta el menú en pantallas pequeñas por defecto
      nav.classList.remove("active"); // Oculta el menú en pantallas pequeñas por defecto
      hamburger.style.display = "flex"; // Muestra el icono de hamburguesa
    }
  }

  function handleScrollVisible() {
    if (window.innerWidth <= 907) {
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        header.style.top = "-70px"; // Oculta la barra de navegación
        header.style.opacity = "0"; // Oculta la barra de navegación
        menu.classList.remove("active");
        nav.classList.remove("active");
      } else {
        header.style.top = "0"; // Muestra la barra de navegación
        header.style.opacity = "1"; // Muestra la barra de navegación
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Para Mobile o cuando se llega a la parte superior del documento
    } else {
      // Si el ancho del viewport es mayor a 768 píxeles, asegura que el header esté visible
      header.style.top = "0";
      header.style.opacity = "1";
    }
  }

  hamburger.addEventListener("click", toggleMenu);
  window.addEventListener("resize", handleResize);
  window.addEventListener("scroll", handleScrollVisible, { passive: true });

  a.forEach((a) => {
    a.addEventListener("click", closeMenu);
  });

  handleResize(); // Inicializa el estado correcto del menú al cargar la página
</script>
