---
// css
import "./components/btns/BtnSubsection.scss";
import "./components/Menu/Menuburger.scss";

import BtnSubsection from "./components/btns/BtnSubsection.jsx";
import Menuburger from "./components/Menu/Menuburger.jsx";

const subsectionNosotros = [
  { txt: "Nuestros profesionales", href: "/about" },
  { txt: "¿Cómo iniciamos?", href: "/about" },
];
const subsectionTratamiento = [
  { txt: "¿Cómo funciona?", href: "/about" },
  { txt: "Testimonios", href: "/about" },
];
---

<header>
  <section class="contacto__desk">
    <a
      href="https://api.whatsapp.com/send?phone=5491132164212&text=Necesito%20ayuda"
      target="_blank"
      rel="noopener noreferrer"
      >Numero de contacto Ivo Cutzarida: +5491132164212</a
    >
    <a
      href="https://api.whatsapp.com/send?phone=5492317445068&text=Necesito%20ayuda"
      target="_blank"
      rel="noopener noreferrer"
      >Numero de contacto Lorena Appella: +5492317445068</a
    >
  </section>
  <section class="contacto__mobile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-user"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#2c3e50"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
      <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
    </svg>
  </section>
  <nav>
    <BtnSubsection
      client:visible
      txt="Nosotros"
      subsections={subsectionNosotros}
    />
    <BtnSubsection
      client:visible
      txt="Tratamiento"
      subsections={subsectionTratamiento}
    />
    <a href="">Arancelado</a>
    <a href="">Preguntas Frecuentes</a>
  </nav>
  <Menuburger client:visible />
</header>

<style lang="scss">
  .contacto__desk {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    a {
      font-size: 20px;
      color: #fff;
    }
  }
  .contacto__mobile {
    display: none;
  }

  header {
    padding: 10px;
    background-color: #2b561a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    nav {
      display: flex;
      gap: 50px;
      padding: 10px;

      a {
        font-size: 20px;
        padding: 3px;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1400px) {
    .contacto__desk {
      gap: 9px;
      padding: 9px;

      a {
        font-size: 17px;
      }
    }

    header {
      padding: 9px;
      nav {
        gap: 45px;
        padding: 9px;

        a {
          font-size: 17px;
          padding: 2px;
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .contacto__desk {
      gap: 8px;
      padding: 8px;

      a {
        font-size: 15px;
      }
    }

    header {
      padding: 8px;
      nav {
        gap: 40px;
        padding: 8px;

        a {
          font-size: 15px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .contacto__desk {
      display: none;
    }
    .contacto__mobile {
      display: grid;
    }

    header {
      nav {
        display: none;
        a {
        }
      }
    }
  }

  @media (max-width: 470px) {
    .contacto__desk {
      a {
        font-size: 10px;
      }
    }

    header {
      nav {
        display: none;
        a {
        }
      }
    }
  }
</style>
