---
import Header from "../modules/Header/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="../assets/video/logo.png"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header>
      <slot />
    </Header>
  </body>
  <style is:global>
    @font-face {
      font-family: "josefin";
      src: url("../assets/fonts/JosefinSans-Bold.ttf") format("truetype");
    }

    * {
      font-family: josefin;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  </style>
</html>
