---
import "./components/Carrusel.scss";
import Carrusel from "./components/Carrusel";
import img1 from "../../assets/img/carrusel/img1.webp";
import img2 from "../../assets/img/carrusel/img2.webp";
import img3 from "../../assets/img/carrusel/img3.webp";

const slides = [
  {
    image: img1.src,
    content: "TU SALUD MENTAL ES PRIORIDAD",
    p: "Ten la seguridad de estar acompañado por un gran grupo de profesionales",
  },
  {
    image: img2.src,
    content: "ESPACIOS VIRTUALES Y PRESENCIALES PARA FAMILIARES",
    p: "Ofrecemos una amplia ayuda a los familiares que acompañan al adicto en su proceso",
  },
  {
    image: img3.src,
    content: "ENCUENTROS PRESENCIALES",
    p: "Realizamos eventos presenciales para potenciar el compañerismo y la cercanía",
  },
];
---

<section id="tratamiento" class="steps-container">
  <h2>Nuestro Tratamiento</h2>

  <p >
    <strong>
      El Ambu Virtual es un dispositivo de tratamiento para adicciones realizado
      de forma virtual mediante grupos y talleres. No ofrecemos tratamiento
      psiquiátrico ni psicológico individual, permitiendo que los pacientes
      mantengan sus procesos con sus profesionales mientras suman la terapia
      grupal, esencial para la recuperación. El grupo, al compartir experiencias
      y dolencias similares, resulta clave para la sanación y comprensión.
      Nuestra dinámica fomenta la interacción entre pacientes y equipo, ayudando
      al adicto a aceptarse, comprenderse y descubrir nuevas formas de
      reaccionar. La recuperación no se limita a mantenerse limpio, sino a
      construir una nueva forma de ser, recobrar la autoestima, desarrollar
      potencial, fortalecer vínculos responsables y encontrar paz a pesar de las
      dificultades. Nos comprometemos con empatía y profesionalismo en este
      proceso transformador.
    </strong>
  </p>
  <hr style="width: 93%;">
  <p style="margin-top: 40px;">
    Nuestro tratamiento virtual se divide en <strong>cuatro partes importantes</strong>, cada una
    diseñada para abordar diferentes aspectos del proceso de recuperación y
    apoyo tanto para los adictos como para sus familias.
  </p>
  <div class="step">
    <h3>Grupos Virtuales</h3>
    <p>
      Los grupos virtuales se llevan a cabo los <strong
        >lunes, martes, jueves y viernes a las 20:00 horas, y los miércoles a
        las 11:00 horas</strong
      >. Estos encuentros brindan un espacio seguro y de apoyo para que las
      personas con adicciones puedan compartir sus dolores, impulsos, ansiedades
      y cómo ha sido su día. Los participantes reciben retroalimentación tanto
      de sus compañeros como de los profesionales, facilitando un proceso de
      recuperación tanto colectiva como personal.
    </p>
  </div>
  <div class="step">
    <h3>Taller de gestión de emociones</h3>
    <p>
      Uno de los talleres más frecuentes, empezar a identificar entender y
      gestionar el aparato emocional. La adicción actúa como un catalizador de
      las emociones, alejando al adicto de lo que siente su organismo. En estos
      talleres y grupos, se enseñan a reconocer emociones básicas como el miedo
      y la ira, entendiendo que son respuestas naturales del organismo
      orientadas a la supervivencia, ni buenas ni malas, que necesitan ser
      gestionadas en lugar de reprimidas o descontroladas. El miedo y la ira,
      por ejemplo, nos preparan para huir o atacar, pero aprendemos a observar
      que no estamos en peligro real. Entendemos que el enojo señala problemas a
      resolver, no peleas a ganar, y conectamos con el cerebro pensante para
      abordar conflictos de forma constructiva. Con el miedo, tomamos conciencia
      de nuestros recursos para enfrentarlo sin huir. Los talleres combinan
      teoría y práctica, permitiendo a los participantes expresarse y explorar
      diferentes formas de reaccionar ante las emociones, promoviendo
      herramientas de comunicación para resolver conflictos. Esta dinámica
      terapéutica y participativa estimula el aprendizaje y el cambio, ayudando
      a los asistentes a transformar patrones que limitaban su desarrollo
      personal y emocional.
    </p>
  </div>
  <div class="step">
    <h3>Grupos de Psicoeducación</h3>
    <p>
      Los grupos de psicoeducación son sesiones en las que se comparte
      conciencia de enfermedad y se proporciona un ambiente aúlico para enseñar
      sobre la adicción. En estos grupos, se busca que los participantes
      comprendan mejor su condición y adquieran herramientas para manejarla de
      manera efectiva, fomentando una recuperación informada y consciente.
    </p>
  </div>
  <div class="step">
    <a href="#familia">Terapia Familiar</a>
    <p>
      La terapia familiar se realiza virtualmente los miércoles a las 20:00
      horas. Este espacio está diseñado para que los familiares de los adictos
      puedan explorar las causas de sus propios dolores y comprender cómo estos
      afectan el ambiente familiar. A través de estas sesiones, se busca
      fortalecer las relaciones familiares y proporcionar herramientas para un
      apoyo mutuo más efectivo.
    </p>
  </div>
  <div class="step">
    <a href="#encuentros">Encuentros Presenciales</a>
    <h3></h3>
    <p>
      Los encuentros presenciales se llevan a cabo una vez al mes y son eventos
      donde se practica la cortesía, el altruismo y la ayuda mutua. Durante
      estos encuentros, se realizan actividades terapéuticas diseñadas para
      fortalecer los vínculos entre los participantes y promover un ambiente de
      solidaridad y apoyo.
    </p>
  </div>
</section>
<Carrusel slides={slides} client:visible />

<style>
  .steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
    color: #333;
  }

  .steps-container h2 {
    color: #336b2a;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .steps-container p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
  }

  .step {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    max-width: 800px;
    width: 100%;
  }

  .step h3,
  a {
    color: #254621;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .step p {
    text-align: start;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .steps-container h2 {
      font-size: 28px;
    }

    .steps-container p {
      font-size: 14px;
    }

    .step h3 {
      font-size: 20px;
    }

    .step p {
      font-size: 16px;
    }
  }
</style>
