.contenedor {
    width: 100%;
    overflow: hidden;

    .flechas {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 18rem;
        height: 0;
        z-index: 1;
        color: #19711b;

        .flechaIzq {
            cursor: pointer;
            margin-left: 20px;

            svg {
                height: 50px;
                width: 50px;
                transition: 0.4s ease;
            }
        }

        .flechaDer {
            cursor: pointer;
            margin-right: 20px;

            svg {
                height: 50px;
                width: 50px;
                rotate: (180deg);
                transition: 0.4s ease;
            }
        }
    }

    .slider-contenedor {
        width: 100%;
        display: flex;

        .contenido-slider {
            display: grid;
            grid-template-areas: "txt img";
            grid-template-columns: 4fr 2fr;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 600px;
            flex-shrink: 0;
            z-index: -1;

            .contenedorTxt {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                grid-area: txt;

                .texto-entrada {
                    opacity: 0;
                    transform: translateY(10rem);
                    transition: opacity 2s, transform 1.4s;
                }

                .texto-entrada.activo {
                    opacity: 1;
                    transform: translateY(0);
                }

                .pausado .texto-entrada {
                    transition: none;
                }

                h2 {
                    font-size: 30px;
                    width: 350px;
                    margin-top: 5rem;
                    text-align: center;
                }

                p {
                    font-size: 26px;
                    width: 400px;
                    text-align: center;
                }

                .linkInicio {
                    text-decoration: none;
                    border-radius: 25px;
                    font-size: 24px;
                    color: #fff;
                    background-color: #19711b;
                    padding: 10px;
                    transition: 0.4s ease;
                    z-index: 1;

                    &:hover {
                        scale: 1.2;
                    }
                }
            }

            .contenedorImg {
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area: img;
                width: 800px;

                img {
                    height: 500px;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .contendorPuntos {
        display: flex;
        align-items: center;
        justify-content: center;

        .puntos-indicadores {
            display: flex;
            gap: 7px;
            position: relative;
            bottom: 28px;
            height: 0;

            .punto {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #96b197ae;
                margin: 0 5px;
                cursor: pointer;
                transition: 1s ease;

                &.activo {
                    background-color: #19711b;
                    scale: 1.2;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .contenedor {
        .slider-contenedor {
            .contenido-slider {
                .contenedorTxt {
                    h2 {
                        font-size: 28px;
                    }

                    p {
                        font-size: 24px;
                        width: 330px;
                    }
                }

                .contenedorImg {
                    width: 700px;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .contenedor {
        .slider-contenedor {
            .contenido-slider {
                .contenedorTxt {
                    h2 {
                        font-size: 26px;
                    }

                    p {
                        font-size: 22px;
                        width: 310px;
                    }
                }

                .contenedorImg {
                    width: 580px;
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .contenedor {
        .slider-contenedor {
            .contenido-slider {
                .contenedorTxt {
                    h2 {
                        font-size: 24px;
                        width: 260px;
                    }

                    p {
                        font-size: 20px;
                        width: 290px;
                    }

                    .linkInicio {
                        font-size: 18px;
                        padding: 8px;
                    }
                }

                .contenedorImg {
                    width: 490px;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .contenedor {
        .flechas {
            top: 14rem;

            .flechaIzq {
                img {
                    height: 44px;
                }
            }

            .flechaDer {
                img {
                    height: 44px;
                }
            }
        }

        .slider-contenedor {
            .contenido-slider {
                height: 500px;

                .contenedorTxt {
                    h2 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 18px;
                        width: 230px;
                    }
                }

                .contenedorImg {
                    width: 400px;
                }
            }
        }

        .contendorPuntos {
            .puntos-indicadores {
                bottom: 40px;

                .punto {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .contenedor {
        .slider-contenedor {
            .contenido-slider {
                .contenedorTxt {
                    h2 {
                        font-size: 18px;
                        width: 200px;
                    }

                    p {
                        font-size: 16px;
                        width: 200px;
                    }
                }

                .contenedorImg {
                    width: 380px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .contenedor {
        margin-top: 5%;

        .flechas {
            top: 22rem;
        }

        .slider-contenedor {
            .contenido-slider {
                height: 810px;
                grid-template-areas: "img" "txt";
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                .contenedorTxt {
                    h2 {
                        font-size: 28px;
                        width: 320px;
                        margin-top: 0;
                    }

                    p {
                        font-size: 24px;
                        width: 290px;
                    }

                    .linkInicio {
                        font-size: 20px;
                    }
                }

                .contenedorImg {
                    width: auto;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .contendorPuntos {
            .puntos-indicadores {
                bottom: 24px;

                .punto {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .contenedor {
        margin-top: 7%;

        .flechas {
            top: 20rem;
        }

        .slider-contenedor {
            .contenido-slider {
                height: 690px;

                .contenedorTxt {
                    h2 {
                        font-size: 26px;
                        width: 270px;
                    }

                    p {
                        font-size: 22px;
                        width: 250px;
                    }

                    .linkInicio {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 435px) {
    .contenedor {
        margin-top: 8%;

        .flechas {
            top: 19rem;

            .flechaIzq {
                img {
                    height: 34px;
                }
            }

            .flechaDer {
                img {
                    height: 34px;
                }
            }
        }

        .slider-contenedor {
            .contenido-slider {
                height: 640px;

                .contenedorTxt {
                    margin-bottom: 40px;

                    h2 {
                        font-size: 24px;
                        width: 250px;
                    }

                    p {
                        font-size: 20px;
                        width: 250px;
                    }

                    .linkInicio {
                        font-size: 22px;
                    }
                }
            }
        }

        .contendorPuntos {
            .puntos-indicadores {
                bottom: 30px;

                .punto {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .contenedor {
        margin-top: 10%;

        .flechas {
            top: 17rem;
        }

        .slider-contenedor {
            .contenido-slider {
                height: 550px;

                .contenedorTxt {
                    margin-bottom: 50px;

                    h2 {
                        font-size: 22px;
                        width: 200px;
                    }

                    p {
                        font-size: 18px;
                        width: 210px;
                    }

                    .linkInicio {
                        font-size: 20px;
                    }
                }
            }
        }

        .contendorPuntos {
            .puntos-indicadores {
                bottom: 30px;

                .punto {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
}