---
import video from "../../assets/video/Fondo.mp4";
---

<div id="home">
  <h3>Bienvenido a Ambu Virtual</h3>
  <p>
    En Ambu Virtual, ofrecemos servicios de rehabilitación de adicciones a
    distancia, ayudando a las personas a recuperar su vida en cualquier parte del pais
  </p>
</div>
<section>
  <video autoplay loop muted>
    <source src={video} type="video/mp4" />
    Tu navegador no soporta la etiqueta de video.
  </video>
  <div class="capa"></div>
  <h2>VIVÍ LA RECUPERACIÓN EN CUALQUIER PARTE DEL PAÍS</h2>
  <a href="https://api.whatsapp.com/send?phone=5491132164212" target="_blank" rel="noopener noreferrer">CONTACTANOS</a>
</section>

<style lang="scss">
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    h3 {
      padding: 10px;
      font-size: 30px;
      color: #336b2a;
    }
    p{
      font-size: 18px;
      width: 70%;
    }
  }
  section {
    position: relative;
    height: 600px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      font-size: 25px;
      padding: 18px;
      text-align: center;
      border-radius: 8px;
      background-color: #2b561a;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease;
      box-shadow: 0 10px 40px 20px #0000004f;

      &:hover {
        box-shadow: 0 20px 50px 20px #0000004f;
        scale: 1.05;
      }
    }

    h1 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2 {
      width: 700px;
      font-size: 30px;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .capa {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, #ffffff5c, #1c1c1d);
      opacity: 0.9;
    }
  }

  @media (max-width: 768px){
    section {
    position: relative;
    height: 400px;
    video {
      width: 100%;
      height: 100%;
    }
    a {
      font-size: 20px;
      padding: 14px;
      border-radius:7px;
    }
    h2 {
      width: 70%;
      font-size: 22px;
    }
  }
  }

  
  @media (max-width: 400px){

    #home{
      h3{
        font-size: 22px;
      }

      p{
        width: 90%;
        padding:2px;
        font-size: 18px;
      }
    }

    section {
    position: relative;
    height: 400px;
    video {
      width: 100%;
      height: 100%;
    }
    a {
      font-size: 18px;
      padding: 12px;
      border-radius:8px;
    }
    h2 {
      width: 80%;
      font-size: 20px;
    }
  }
  }
</style>
