---
import { enlaces } from "../../utils.js";

---

<footer>
  <div class="footer-content">
    <nav class="footer-nav">
      {enlaces.map((a) => (
        <a href={a.href}>{a.texto}</a>
      ))}
    </nav>
    <div class="contact-info">
      <p>
        Instagram: <a
          href="https://www.instagram.com/ambuvirtual"
          target="_blank">@ambuvirtual</a
        >
      </p>
      <p>Teléfono: +54 9 11 3216-4212</p>
    </div>
    <div class="social-icons">
      <a href="https://www.instagram.com/ambuvirtual" target="_blank">
        <svg
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
          <path d="M16.5 7.5l0 .01"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Ambu Virtual.<br>Todos los derechos reservados.</p>
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: #2b561a;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
  }

  .footer-nav,
  .contact-info,
  .social-icons {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }



  .footer-nav a,
  .contact-info a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    transition: color 0.2s ease-in-out;
    padding: 4px;
  }

  .footer-nav a:hover,
  .contact-info a:hover {
    color: #4fa542;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .social-icons a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .social-icons a:hover {
    color: #4fa542;
  }

  .social-icons svg {
    width: 30px;
    height: 30px;
    transition: stroke 0.2s ease-in-out;
  }

  .social-icons svg:hover {
    stroke: #4fa542;
  }

  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #45a049;
    padding-top: 20px;
    width: 100%;
    max-width: 1200px;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .footer-nav,
    .contact-info,
    .social-icons {
      text-align: center;
    }
  }
</style>
